/*===== spiner ===== */
.spiner{
    width: 100%;
    text-align: center;
    color: var(--primario);
}
.spiner .i{
    font-size: 30px;
}
.correcto{
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: var(--white);
    background: var(--verde);
    font-weight: 500;
    border: none;
}
.boton-secundario{
    display: block;
    width: 150px;
}
.boton-secundario.correcto{
    font-weight: 600;
}
.boton-secundario.correcto:hover{
    background: var(--verde);
    color: var(--white);
    border: none;
}
/*===== formulario===== */
.f-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 20px 0;
}
.f-label {
    display: none;
}
.f-form.error .f-input::placeholder{
    color: var(--danger);
}
.f-input {
    min-width: 100%;
    max-width: 300px;
    max-height: 300px;
    padding: 12px;
    font-size: 14px;
    color: var(--gray);
    border-radius: 3px;
    box-shadow: 0 0 2px 1px var(--shadow-all);
    transition: var(--transition-03s);
}
.f-input:hover {
    box-shadow: 0 0 4px 2px var(--shadow-all);
}
@media (max-width: 900px) {
    .blog__boton {
        width: 100%;
    }
    .blog__form .boton-secundario {
        display: block;
        width: 100%;
    }
    .boton-secundario{
        width: 100%;
    }
}
